// Nextflow params
nextflow.enable.dsl=2

// Singularity params
singularity.enabled    = true
singularity.autoMounts = true
singularity.cacheDir = '/mnt/AchTeraD/singularity_cache'

// Global default params
params {
  // input samplesheet
	samplesheet = "samplesheet.csv"
	
	// output directory
	outdir = "results"
	
	// GPseq defaults
	enzyme = "DpnII"
	cutsite = "GATC"
	pattern = "umi8bc8cs4"
	//reference = "s3://ngi-igenomes/igenomes/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
	reference = "/mnt/AchTeraD/Documents/references/mm10/mm10.fa"
	index_dir = "/mnt/AchTeraD/Documents/references/mm10/"
	validationSkipDuplicateCheck = "true"
		
}