// Singularity params
singularity.enabled    = true
singularity.autoMounts = true

// Git branch specification
manifest.defaultBranch = 'main'

// AWS anonymous
aws {
    client {
        anonymous = true
    }
}

// Global default params
params {
  // input samplesheet
	samplesheet = "null" // Make sure that the sample sheet is ordered from shortest to longest timepoint
	
	// output directory
	outdir = "null"
	
	// GPseq defaults
	enzyme = "DpnII"
	cutsite = "GATC"
	pattern = "umi8bc8cs4"
    
    // GPSeq score calculation options
    runid = null // Same as outdir if null
    binsizes = "1e+06:1e+05,1e+05:1e+04,5e+04:5e+03,2.5e+04:2.5e+03,1e+04:1e+03" // Comma separated list of bin sizes:step sizes to use
    score_outlier_tag = "iqr:1.5"
    bed_outlier_tag = "chisq:0.01"
    normalization = "lib"
    site_domain = "universe"

    
    // Reference genome options
    genome = null
    igenomes_base = "s3://ngi-igenomes/igenomes/"
    igenomes_ignore = false
    
	validationSkipDuplicateCheck = "true"
    validationS3PathCheck = "true"
    
    // Resource options
    // Defaults only, expected to be overwritten
    max_memory = "1.GB"
    max_cpus = 1
    max_time = "2.h"	
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Profiles
profiles {
     test { includeConfig 'conf/test.config' }
     ht_hpc { includeConfig 'conf/ht_hpc.config' }
     uppmax { includeConfig 'conf/uppmax.config' }
     sirius { includeConfig 'conf/sirius.config' }
     lhpc { includeConfig 'conf/lhpc.config' }
}

// Load igenomes.config if required
if (!params.igenomes_ignore) {
    includeConfig 'conf/igenomes.config'
} else {
    params.genomes = [:]
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}