// Config for running minimal tests

params {
	// input and output
	samplesheet = "${baseDir}/assets/samplesheet.csv"
	outdir = "${baseDir}/results"
	
	// Reference genome
	fasta = "https://github.com/ljwharbers/nextflow-gpseq/raw/main/data/reference/chr16.fa"
	bwt2index = "https://github.com/ljwharbers/nextflow-gpseq/raw/main/data/btw2index"
	
	// GPseq defaults
	enzyme = "DpnII"
	cutsite = "GATC"
	pattern = "umi8bc8cs4"
}