// Config for running minimal tests

params {
	// input and output
	samplesheet = "${baseDir}/assets/samplesheet.csv"
	outdir = "${baseDir}/results"
	
	// Reference genome
	genome = "mm10"
	fasta = "https://github.com/ljwharbers/gpseq_data/raw/main/data/reference/chr19.fa"
	//bwt2index = "https://github.com/ljwharbers/gpseq_data/raw/main/data/bwt2index/"
	
	max_memory = "3.GB"
	max_cpus = 1
	max_time = "1.h"	
}