// Set process parameters
process {
    executor = "slurm"
    //queue = "cpuq"
    //TODO change queue type for uppmax queues
}

// Set parameters for max resources
params {
    // Resource options
    // TODO change depending on uppmax setup
    max_memory = "16.GB"
    max_cpus = 16
    max_time = "24.h"	
}